@lost flexbox flex;

.outer {
    background-color: white;
    border-top-left-radius: 25px;
    border: 1px solid grey; 
    width: 100%;
    height: 100%;
}

.inner {
    lost-row: 11/12; 
    lost-center: 80%; 
}

.town {
    lost-column: 3/8; 
}

.leftTown {
    composes: town; 
}

.rightTown {
    composes: town; 
}

.ship {
    lost-column: 2/8; 
}

.header {
    height: 70px;
}

.tableFocused:focus {
    outline:none;
}

.table {
    composes: tableFocused; 
    lost-row: 7/8; 
}

.shipTable {
    composes: table; 
}

.townTable {
    composes: table; 
}

.settings {
    lost-center: 90%;
    lost-row: 1/8; 
}

.content {
    lost-center: 100%;
    lost-row:7/8;
}
