@lost flexbox flex;

.outer {
    background-color: white;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-radius: 25px;
    lost-center: 98%; 
    lost-row: 47/50;
}

.inner {
    lost-row: 11/12; 
    lost-center: 80%; 
}

.town {
    lost-column: 3/8; 
}

.leftTown {
    composes: town; 
}

.rightTown {
    composes: town; 
}

.ship {
    lost-column: 2/8; 
}

.header {
    lost-row: 1/8; 
}

.table {
    lost-row: 7/8; 
}

.shipTable {
    composes: table; 
}

.townTable {
    composes: table; 
}

.settings {
    lost-center: 90%;
    lost-row: 1/8; 
}

.content {
    lost-center: 100%;
    lost-row:7/8;
}
