@font-face {
    font-family: 'moi';
    src: url('styles/iconFont/font/moi.eot?4648909');
    src: url('styles/iconFont/font/moi.eot?4648909#iefix') format('embedded-opentype'),
    url('styles/iconFont/font/moi.woff2?4648909') format('woff2'),
    url('styles/iconFont/font/moi.woff?4648909') format('woff'),
    url('styles/iconFont/font/moi.ttf?4648909') format('truetype'),
    url('styles/iconFont/font/moi.svg?4648909#moi') format('svg');
    font-weight: normal;
    font-style: normal;
}

:global {
    @import 'base';
    @import '~normalize.css/normalize';

    // Some best-practice CSS that's useful for most apps
    // Just remove them if they're not what you want
    html {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        // lost-utility: edit;
        height: 100%;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    [type=reset], [type=submit], button, html [type=button] {
        -webkit-appearance: inherit;
    }
}
